@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Playwrite+IN:wght@100..400&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
body {
  font-family: 'Space Grotesk', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}

@keyframes float{
  0%, 100% {
    transform: translateY(0);
  }
}
.floating {
  animation: float 6s ease-in-out infinite;
}

.font-orbitron{
  font-family: Orbitron;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}

.group:hover .animate-scroll {
  animation-play-state: paused;
}
@media (max-width: 640px) {
  .floating {
    transform: none;
  }
}
